@import "@styles/settings/__settings";

.header {

  width: 100%;
  background-color: $color-brand-blue;
  color: white;
  padding: .5em 0;

  p {
    margin: 0;
  }

}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  color: $color-brand-yellow;
  font-family: $font-family-display;
  font-weight: $font-weight-display-bold;
  font-size: 2em;
}

.headerCart {

  button {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;

    svg {
      color: $color-brand-yellow;
      margin-right: .5em;
    }

  }

}