@import "@styles/settings/__settings";

.button {

  font-size: 1em;
  color: white;
  background-color: $color-brand-green;
  border: 0;
  font-family: $font-family-display;
  font-weight: $font-weight-display-bold;
  text-transform: uppercase;
  padding: .6em 1em;
  cursor: pointer;

  &[data-color="yellow"] {
    color: $color-brand-blue;
    background-color: $color-brand-yellow;
  }

  &:hover {

    background-color: lighten($color-brand-green, 10);
    transform: translateY(-3px);
    transition: transform .2s;

    &[data-color="yellow"] {
      color: $color-brand-blue;
      background-color: lighten($color-brand-yellow, 10);
    }

  }

  &:active {
    transform: translateY(3px) scaleY(.8) scaleX(1.2);
    transition: transform .1s;
  }

}