<!DOCTYPE html>
<html>
<head><title>Templates</title></head>

<body>
  <div id="snipcart-templates">
    <item-line tag="<string>" item="<CartItem>" showDescription="<boolean>">
      <div id="root">
        <li :class="{'snipcart-item-line': true, 'snipcart-item-line--cart-edit': editingCart}">
          <flash-message
            type="info"
            icon="box"
            v-if="stockLimitReached"
          >
            {{ $localize('errors.quantity_revised') }}
          </flash-message>
          <flash-message
            type="error"
            icon="box"
            v-if="outOfStock"
          >
            {{ $localize('errors.quantity_out_of_stock') }}
          </flash-message>
          <div class="snipcart-item-line__container">
            <figure
              class="snipcart-item-line__media"
              v-if="showLargeImage"
            >
              <item-image class="snipcart-item-line__image"></item-image>
            </figure>
            <div class="snipcart-item-line__product">
              <div class="snipcart-item-line__header">
                <h2 class="snipcart-item-line__title snipcart__font--xlarge snipcart__font--secondary snipcart__font--black">
                  {{ item.name }}
                </h2>
                <div class="snipcart-item-quantity__total-price snipcart__font--bold snipcart__font--secondary">
                  <p>{{ item.totalPrice | money(currency) }}</p>
                </div>
              </div>
              <div class="snipcart-item-line__content">
                <div class="snipcart-item-line__body">
                  <div v-if="showDescription" class="snipcart-item-line__info">
                    <item-description></item-description>
                  </div>
                  <div class="snipcart-item-line__variants">
                    <div>
                      <item-plans
                        :item="item"
                        v-if="!adding && isSubscribable"
                      ></item-plans>
                      <item-custom-fields v-if="!adding"></item-custom-fields>
                    </div>
                    <div class="snipcart-item-line__remove">
                      <button-link
                        label="item.remove_item"
                        @click="removeItem"
                      ></button-link>
                    </div>
                    <div
                      class="snipcart-form__field snipcart-form__field--plan snipcart-form__field--plan--billed-on"
                      v-if="isSubscribable && !adding"
                    >
                      <span class="snipcart-form__label snipcart__font--tiny">
                        {{$localize('subscription.payment_amount')}}
                      </span>
                      <div class="snipcart-form__field--plan__readonly">
                        <item-price
                          :item="item"
                          :selectedPlan="selectedPlan"
                        >
                        </item-price>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>
    </item-line>
  </div>
</body>
</html>